p {
    margin-bottom: 0;
}

ul{
    margin-left: 0!important;
}

.img-profile{
    width: 80px;
    height: 80px;
}

.bg_light_blue {
    background-color: #99dafd;
}

.light_blue{
    color: #99dafd;
}

.light-gray{
    color: #b0b1b3;
}

.fs-custom{
    font-size: 14px;
}
